/* 
Les animations d'apparission en fade-in et le mouvement en 2D (vertical) 
des deux élémnts présets dans le banner de l'affichage géneral 
*/

/* logo img */
@keyframes fadeInSlidetoTop {
    0% {
        opacity: 0;
        transform: translateY(100%);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
}

/* background image */
@keyframes fadeInSlidetoBotom {
    0%{
        transform: translateY(-100%);
        /* transform: translate3d(-100%); */
    }
    100%{
        transform: translateY(0);
    }
}

/* logo floating animation */
@keyframes floater {
    0%{transform: translateY(-10px);transition: ease 0.5s;}
    50%{transform: translateY(10px);transition: ease 0.5s;}
    100%{transform: translateY(-10px);transition: ease 0.5s;}
}

/* Clouds */
@keyframes move-to-left{
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-300px);
    }
} 

/* ============ Fin animations banner ====================== */
/* animation hero header opened */
@keyframes floatCats {
    0% {
        transform: translate(0px, -10px);
    }
    25% {
        transform: translate(-20px, 0px);
    }
    50% {
        transform: translateY(10px);
    }
    75% {
        transform: translate(20px, 0px);
    }
    100% {
        transform: translate(0px, -10px);
    }
}

/* *************** Debut animation section "histoire"  ************** */

@keyframes SlidetoTop {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0);
    }
}
/* *************** Fin animation section "histoire" ************** */

/* **************** Animation des fleurs ************************* */

@keyframes flowerSpin {
    100%{
        transform: rotate(360deg);
    }
}
/* **************** Fin Animation des fleurs ********************* */


/* ================ Animations titles ================ */
@keyframes fadeInOnScroll {
    0% {
		transform: scale(0, .025);
	}
	50% {
		transform: scale(1, .025);
	}
}

/* ================ Animation des nuages =========================== */
@keyframes slideToTheSide {
    0%{
        margin-right: 0;
        width: 300px;
    }
    100%{
        margin-left: 0;
        width: 100%;
    }
}

/* ===================== Animation des sections fade-in ================= */
@keyframes fadeIn {
    0%{
        transform:scale(0, 0.25);
    }
}